.page-header {
  background-image: url('../img/header.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-color: #f0ad4e;
}


@media (min-width: 768px) {
  .page-header {
    min-height: 100vh;
  }
}